<h1>All Contacts</h1>

<ul>
<% @@rolodex.contacts.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %></li>
<% end #runs ruby code  but doesn't display when there is no equal sign with alligator sign  %>  
</ul>