<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/form.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"/>
		<title>Welcome to <%= @crm_app_name %>!</title>
	</head>

	<body>
		<%= yield %> 
	</body>
</html>